@model CAPE.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="col-md-12">
<div class="col-md-3">

</div>
<div class="col-md-6 registerForm">
    <h2>Signup</h2>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Create a new account.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            <div class="username col-md-12">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="password col-md-12">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="repassword col-md-12">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="security col-md-12">
                <label class="control-label col-md-2">Security Code</label>
                <input class="form-control" id="SC" type="text" name="SC" />
                @ViewBag.Notification
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" class="btn btn-default" value="Register" />
            </div>
        </div>
        <br />
        <p>
            @Html.ActionLink("Already have an account? login", "Login")
        </p>
    }
</div>
</div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
    <style>
        form {
            border: 1px solid #000000;
            border-radius: 25px;
        }

        label {
            text-align: center;
        }

        form {
            padding-bottom: 20px;
        }

        .registerForm {
            text-align: center;
        }

            .registerForm h2 {
                text-align: center;
            }

            .registerForm label {
                font-size: 17px;
            }

        .home {
            width: 100%;
            text-align: center;
            margin-top: 20px;
        }

        .username {
            margin-top: 30px;
            margin-bottom: 10px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        .password {
            margin-top: 20px;
            margin-bottom: 20px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        .repassword {
            margin-top: 20px;
            margin-bottom: 20px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        .security {
            margin-top: 20px;
            margin-bottom: 20px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
    </style>

